name: Docs update

on:
  workflow_call:
  push:
    branches:
      - main

jobs:
  job_docs_update:
    if: github.actor != 'arabot-1'
    permissions: read-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout vocdoni-sdk repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.VOCDONIBOT_PAT }}

      - name: Install node
        uses: actions/setup-node@v3
        with:
          #cache: 'npm'
          node-version: 16

      - name: Install docs dependencies
        run: |
          cd ./docs
          npm install

      - name: Generate Vocdoni SDK Docs
        run: |
          cd ./docs
          npm run build

      - name: Get short commit hash
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Checkout developer-portal repo
        uses: actions/checkout@v3
        with:
          repository: vocdoni/developer-portal
          ref: main
          path: developer-portal
          token: ${{ secrets.VOCDONIBOT_PAT }}

      - name: Copy generated docs
        run: |
          rm -rf ./developer-portal/docs/sdk/
          mkdir -p ./developer-portal/docs/sdk/
          cp -R ./docs/temp_docs/* ./developer-portal/docs/sdk/

      - name: Create PR to developer-portal repo
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.VOCDONIBOT_PAT }}
          path: developer-portal
          commit-message: "Update vocdoni-sdk docs by commit ${{ steps.vars.outputs.sha_short }}"
          committer: "Arabot-1 <arabot-1@users.noreply.github.com>"
          branch: patch/sdk-docs
          delete-branch: true
          title: Updates docs for vocdoni-sdk
          body: "Automated update by Github actions (Run: [${{ github.run_id }}](https://github.com/vocdoni/vocdoni-sdk/actions/runs/${{ github.run_id }}))"
          reviewers: ${{ github.actor }}
          team-reviewers: DevRel