name: Docs update

on:
  workflow_call:
  push:
    branches:
      - main

jobs:
  job_docs_update:
    if: github.actor != 'arabot-1'
    permissions: read-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout vocdoni-sdk repo
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install docs dependencies
        run: |
          yarn
          cd ./docs
          yarn

      - name: Generate Vocdoni SDK Docs
        run: |
          cd ./docs
          yarn build

      - name: Get short commit hash
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Checkout developer-portal repo
        uses: actions/checkout@v4
        with:
          repository: vocdoni/developer-portal
          ref: main
          path: developer-portal

      - name: Copy generated docs
        run: |
          cd ./developer-portal
          yarn
          export VOCDONI_SDK_PATH=../
          yarn copy-sdk-docs

      - name: Create PR to developer-portal repo
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.VOCDONIBOT_PAT }}
          path: developer-portal
          commit-message: "Update vocdoni-sdk docs by commit ${{ steps.vars.outputs.sha_short }}"
          committer: "Arabot-1 <arabot-1@users.noreply.github.com>"
          base: main
          branch: update-sdk-docs
          #branch-suffix: short-commit-hash   ## creates temp update-sdk-docs-xyz branches
          delete-branch: true                 ## true: delete branch after merging
          title: Update docs with vocdoni-sdk repo changes
          body: |
            * This is an automated pull request to upload the updated vocdoni-sdk documentation.
            * GitHub Action Run: [${{ github.run_id }}](https://github.com/vocdoni/vocdoni-sdk/actions/runs/${{ github.run_id }})
          labels: |
            automated pr
          reviewers: ${{ github.actor }}
          team-reviewers: SdkDocsReviewer

      - name: Check PR outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"